<form action="<%= cats_url %>", method="POST">
  <label> Name: 
    <input type="text" name="cat[name]"></label>
    <br>
    <label> Birth Date: <input type="date" name="cat[birth_date]"></label> <br>

    <label>Color:</label>
    <select name="cat[color]" id="">
    <option disabled selected>-- Please Select --</option>
      <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Brown">Brown</option>      
    </select>
    <br>

    
    <label> Sex: 
      <input type="radio" id="M" name="cat[sex]" value = "M">
      <label for="M">M</label>
      <input type="radio" id="F" name="cat[sex]" value="F">
      <label for="F">F</label>
    </label><br>

  
    <label for="description">Description</label>
    <textarea name="cat[description]"></textarea>

    <input type="submit" value="Create Cat">
  </label>
</form>